{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}subscriber-create{% endblock layout_class %}

{% block newsletter_content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" name="create" value="{{ 'form.save'|trans }}">
        </div>
    {{ form_end(form) }}

    <hr />
    <a href="javascript:history.back()" class="btn">{{ 'back'|trans }}</a>
{% endblock %}
