{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}subscriber-list{% endblock layout_class %}

{% block newsletter_content %}
    <h1>{{ 'subscriber.list'|trans }} ({{ subscribers.count }})</h1>
    <a class="btn btn-small btn-primary"  href="{{ path('ibrows_newsletter_subscriber_create', {  }) }}">{{ 'subscriber.create'|trans }}</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'subscriber.firstname'|trans }}</th>
            <th>{{ 'subscriber.lastname'|trans }}</th>
            <th>{{ 'subscriber.company'|trans }}</th>
            <th>{{ 'subscriber.email'|trans }}</th>
            <th>{{ 'subscriber.groups'|trans }}</th>
            <th>{{ 'ctrl.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for subscriber in subscribers %}
            <tr>
                <td>{{ subscriber.id }}</td>
                <td>{{ subscriber.firstname }}</td>
                <td>{{ subscriber.lastname }}</td>
                <td>{{ subscriber.companyname }}</td>
                <td>{{ subscriber.email }}</td>
                <td>{{ subscriber.groups|join(', ') }}</td>
                <td>
                    <a href="{{ path('ibrows_newsletter_subscriber_show', { 'id': subscriber.id }) }}">{{ 'ctrl.show'|trans }}</a>
                    <a href="{{ path('ibrows_newsletter_subscriber_edit', { 'id': subscriber.id }) }}">{{ 'ctrl.edit'|trans }}</a>
                </td>
            </tr></a>
        {% endfor %}
        </tbody>
    </table>
    <hr /> 
    <a class="btn btn-small btn-primary"  href="{{ path('ibrows_newsletter_subscriber_create', {  }) }}">{{ 'subscriber.create'|trans }}</a>
{% endblock newsletter_content %}
