{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}newsletter-create{% endblock layout_class %}

{% import "IbrowsNewsletterBundle::macros.html.twig" as macros %}
{% block newsletter_wizard %}
    {{ macros.displayWizard(wizard) }}
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#newsletter_starttime').datetimepicker(
                    {
                        changeMonth: true,
                        changeYear: true,
                        yearRange: '2015:2025',
                        dateFormat: 'dd.mm.yy',
                        timeFormat: 'HH:mm',
                        timeText: 'Zeit',
                        hourText: 'Stunde',
                        minuteText: 'Minuten',
                        secondText: 'Sekunden',
                        currentText: 'Jetzt',
                        closeText: 'Fertig'
                    }
            );
        });
    </script>
{% endblock head_javascripts %}
{% block head_styles %}
    {{ parent() }}
{% endblock head_styles %}

{% block newsletter_content %}
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ 'form.save'|trans }}">
        </div>
    </form>
{% endblock %}
