{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}newsletter-editor{% endblock layout_class %}

{% import "IbrowsNewsletterBundle::macros.html.twig" as macros %}
{% block newsletter_wizard %}
    {{ macros.displayWizard(wizard) }}
{% endblock %}

{% macro displayformcontrols() %}
    {% trans_default_domain "IbrowsNewsletterBundleForms" %}
    <div class="form-actions">
        <input type="submit" name="save" class="btn btn-primary" value="{{ 'form.save'|trans }}" id="btnSave">
        <input type="submit" name="continue" class="btn" value="{{ 'form.continue'|trans }}" id="btnContinue">
        <div class="ajax-loading-icon ajax-save_continue hidden" style="display:inline;">
            <img style="max-width: 20px" src="{{ asset('bundles/ibrowsnewsletter/img/loading.gif') }}" alt="working...">
        </div>
    </div>
{% endmacro displayformcontrols %}

{% block head_javascripts %}
    {{ parent() }}
    {{ head_javascripts|raw }}
{% endblock head_javascripts %}
{% block head_styles %}
    {{ parent() }}
    {{ head_styles|raw }}
{% endblock head_styles %}

{% block newsletter_content %}
    <h1>{{ 'newsletter.edit'|trans({'%name%': newsletter.name}) }}</h1>

    <form action="" method="post" id="editForm">
        {{ _self.displayformcontrols() }}

        {{ newsletter_content|raw }}

        {{ _self.displayformcontrols() }}
    </form>

{% endblock %}
