{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}group-edit{% endblock layout_class %}

{% block head_javascripts %}
{{ parent() }}
{% endblock %}

{% block newsletter_content %}
    <h1>{{ 'group.edit'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" name="edit" value="{{ 'form.save'|trans }}">
            <a href="{{ path('ibrows_newsletter_group_list') }}" class="btn">{{ 'ctrl.back'|trans }}</a>
        </div>
    {{ form_end(form) }}

<script>
    var demo1 = $('#group_subscribers').bootstrapDualListbox({
        bootstrap2Compatible: true,
        nonSelectedListLabel: 'Alle verfügbaren Empfänger',
        selectedListLabel: 'Empfänger in Gruppe',
        moveSelectedLabel: 'Verschiebe Auswahl',
        moveAllLabel: 'Verschiebe alle',
        preserveSelectionOnMove: 'moved',
        moveOnSelect: false,
        filterTextClear: 'Filter deaktivieren',
        selectorMinimalHeight: 250,
        infoText: 'alle {0}',
        infoTextFiltered: '<span class="label label-warning">gefiltert</span> {0} von {1}'
    }
        );
    </script>
{% endblock %}
