{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}group-list{% endblock layout_class %}

{% block newsletter_content %}
    <h1>{{ 'group.list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'group.name'|trans }}</th>
            <th>{{ 'group.subscribers'|trans }}</th>
            <th>{{ 'group.created_at'|trans }}</th>
            <th class="text-center">Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td><a href="{{ path('ibrows_newsletter_group_show', { 'id': group.id }) }}">{{ group.name }}</a></td>
                <td>{{ group.subscribers.count }}</td>
                <td>{{ group.createdAt|localizeddate('short', 'medium') }}</td>
                <td>
                    <a class="btn btn-small" href="{{ path('ibrows_newsletter_group_edit', { 'id': group.id }) }}">{{ 'group.btn.edit'|trans }}</a>
                    <a class="btn btn-small" href="{{ path('ibrows_newsletter_group_delete', { 'id': group.id }) }}">{{ 'group.btn.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />
    <a class="btn btn-small btn-primary"  href="{{ path('ibrows_newsletter_group_create', {  }) }}">{{ 'group.create'|trans }}</a>

{% endblock newsletter_content %}
